.menu a {
    background-color: rgb(72, 52, 202);
    color: white;
    text-decoration: none;
    padding: 20px;
    display: block;
  }
  
  .menu a:hover {
    background-color: white;
    color: black;
  }